name: trade-store-api-ci-pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B clean verify

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        env:
           JAVA_HOME: /opt/jdk
        with:
          project: "TradeStore"
          path: "."
          format: "HTML"
          out: "dependency-check-report"
          args: >
            --failOnCVSS 7
            --disableNvd

      - name: Upload Dependency Check Report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report
